<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ShopGuard-Enterprise-Suite" parallel="none">
    <listeners>
        <listener class-name="com.shopguard.reporting.TestListener" />
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="UI-E2E-Tests">
        <classes>
            <class name="com.shopguard.ui.LoginTests" />
            <class name="com.shopguard.ui.CheckoutTests" />
        </classes>
    </test>

    <test name="Backend-API-Tests">
        <classes>
            <class name="com.shopguard.api.UserApiTests" />
        </classes>
    </test>

    <test name="Database-Integrity-Tests">
        <classes>
            <class name="com.shopguard.db.DatabaseTests" />
        </classes>
    </test>
</suite>